<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
  <body>
    <h1><%= title %></h1>
    <div id="header">
      <!--<p>Welcome to <%= title %></p>-->
    </div>
    <div id="nav">
      <ul>
        <% for(var i=0; i<navitems.length; i++) {%>
        <li><a href='<%= navitems[i].navurl %>'><%= navitems[i].friendlyname %></a></li>
        <% } %>
      </ul>
    </div>
	  <div id="content-wrapper"></div>
	  <script type="text/jsx;harmony=true" src="/javascripts/landing.js"></script>
  </body>
</html>
