<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!--<html>-->
	<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title><%= title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <% if(env === "development") { %>
      <!--<link rel='stylesheet' href='/build/css/reset.css' />
        <link rel="stylesheet" href="/build/css/main.css">
        <link rel="stylesheet" href="/build/css/normalize.min.css">
        <link rel='stylesheet' href='/build/css/bootstrap.min.css' />-->

        <link rel='stylesheet' href='/build/css/normalize.css' />
        <link rel='stylesheet' href='/build/css/style.css' />
        <link rel='stylesheet' href='/build/css/wire.css' />
        <link rel='stylesheet' href='/build/css/dev.css' />

        <script src="/build/js/libs/react.min.js"></script>
        <script src="/build/js/libs/jquery.min.js"></script>
        <script src="/build/js/libs/modernizr-2.8.3-respond-1.4.2.min.js"></script>
      <% } else if (env === "production") { %>
        <link rel='stylesheet' href='/build/prod.css' />
        <script src="/build/lib.js"></script>
      <% } else { %>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>-->
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>-->
      <% } %>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <header class="wrapper clearfix">
        <!--<h1 class="title">Welcome to my site</h1>-->
        <div id="nav-placeholder"></div>
        <nav role="full-horizontal">
          <label for="menu-switch">Menu</label>
          <input id="menu-switch" type="checkbox"></input>
          <ul class="clearfix">
            <% for(var i=0; i<navitems.length; i++) {%>
            <li class="content-link <%= navitems[i].navurl == thisurl ? 'selected' : '' %>">
              <a href='<%= navitems[i].navurl %>'>
                <%= navitems[i].friendlyname %>
              </a>
            </li>
            <% } %>
            <% if(env === "development") { %>
            <li class="dev">
              <a>Dev</a>
              <ul>
                  <li class=""><a>Wire</a></li>
              </ul>
            </li>
            <% } %>
          </ul>
        </nav>
      </header>
      <div id="page-container">
        <div id="main-container">
          <%- maincontent %>
        </div>
        <hr>
        <div id="comment-box"></div>
      </div>
      <div class="footer-container">
        <footer class="wrapper">
          <h4>A footer goes here</h4>
        </footer>
      </div>

      <!--<script src="/javascripts/landing.js"></script> type="text/jsx;harmony=true" -->
      <% if(env === "development") { %>
        <script src="/build/js/util.js"></script>
        <script src="/build/js/init.js"></script>
        <script src="/build/js/dev.js"></script>
        <script src="/build/js/partials/contentSection.js"></script>
        <script src="/build/js/partials/commentSection.js"></script>
      <% } else if (env === "production") { %>
        <script src="/build/main.js"></script>
      <% } else { %>
      <% } %>
  </body>
</html>
